<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias type="com.crm.gb.emp.model.vo.Emp" alias="Emp" />
		<typeAlias type="com.crm.gb.client.model.vo.Client" alias="Client" />
		<typeAlias type="com.crm.gb.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.crm.gb.client.model.vo.ClientFile" alias="ClientFile" />
		<typeAlias type="com.crm.gb.contract.model.vo.Contract" alias="Contract" />
		<typeAlias type="com.crm.gb.dailywork.model.vo.Dailywork" alias="Dailywork" />
		<typeAlias type="com.crm.gb.goal.model.vo.Goal" alias="Goal" />
		<typeAlias type="com.crm.gb.product.model.vo.Product" alias="Product" />
		<typeAlias type="com.crm.gb.product.model.vo.ProductFile" alias="ProductFile" />
		<typeAlias type="com.crm.gb.message.model.vo.Message" alias="Message" />
		<typeAlias type="com.crm.gb.order.model.vo.Order" alias="Order"/>
		<typeAlias type="com.crm.gb.approval.model.vo.Approval" alias="Approval"/>
		<typeAlias type="com.crm.gb.todolist.model.vo.TodoList" alias="TodoList"/>
		<typeAlias type="com.crm.gb.calendar.model.vo.Calendar" alias="Calendar"/>
		<typeAlias type="com.crm.gb.notify.model.vo.Notify" alias="Notify"/>
				
	</typeAliases>


	<mappers>
		<mapper resource="mybatis/mappers/emp-mapper.xml" />
		<mapper resource="mybatis/mappers/client-mapper.xml" />
		<mapper resource="mybatis/mappers/notice-mapper.xml" />
		<mapper resource="mybatis/mappers/product-mapper.xml" />
		<mapper resource="mybatis/mappers/dailywork-mapper.xml" />
		<mapper resource="mybatis/mappers/message-mapper.xml"/>
		<mapper resource="mybatis/mappers/order-mapper.xml"/>
		<mapper resource="mybatis/mappers/contract-mapper.xml"/>
		<mapper resource="mybatis/mappers/approval-mapper.xml"/>
		<mapper resource="mybatis/mappers/todolist-mapper.xml"/>
		<mapper resource="mybatis/mappers/calendar-mapper.xml"/>
		<mapper resource="mybatis/mappers/notify-mapper.xml"/>
	</mappers>


</configuration>
