<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		
		<typeAlias type="com.crm.gb.emp.model.vo.Emp" alias="Emp" />
		<typeAlias type="com.crm.gb.client.model.vo.Client" alias="Client" />
		<typeAlias type="com.crm.gb.notice.model.vo.Notice" alias="Notice" />
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mappers/emp-mapper.xml" />
		<mapper resource="mybatis/mappers/client-mapper.xml" />
		<mapper resource="mybatis/mappers/admin-mapper.xml" />
	</mappers>
</configuration>
