<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Approval">

<resultMap id="approvalListE" type="approval">
<id column="approval_no" property="approval_no"/>
<result column="emp_no" property="emp_no"/>
<result column="approval_choose_no" property="approval_choose_no"/>
<result column="approval_submit_date" property="approval_submit_date"/>
<result column="approval_start_date" property="approval_start_date"/>
<result column="approval_end_date" property="approval_end_date"/>
<result column="approval_comment" property="approval_comment"/>
<result column="approval_team_date" property="approval_team_date"/>
<result column="apporval_mgr_date" property="apporval_mgr_date"/>

</resultMap>

<select id="getName" parameterType="int" resultType="approval">
<![CDATA[
select t.emp_name as team_mgr_name,t.emp_no as team_mgr_no,a.emp_name as mgr_name,a.emp_no as mgr_no from
(select emp_name,emp_no from emp where emp_no = (select emp_mgr from emp where emp_no=#{emp_no})) t,
(select emp_name,emp_no from emp where job_no=3) a

]]>

</select>

<insert id="ApprovalSubmit" parameterType="approval" flushCache="true">
<![CDATA[
insert into approval values((select max(approval_no)+1 
from approval),#{emp_no},#{approval_choose_no},sysdate,
#{approval_start_date},#{approval_end_date},#{approval_comment},null,null)
]]>

</insert> 

<select id="approvalListE" parameterType="approval" resultType="approval" resultMap="approvalListE">
<![CDATA[
select * from approval where emp_no=#{emp_no}

]]>
</select>

</mapper>