<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client">

	
	<!-- 고객 리스트 -->
	<resultMap type="client" id="resultSelectAllClient">
		<result column="client_no" property="client_no"/>
		<result column="client_name" property="client_name"/>
		<result column="client_company" property="client_company"/>
		<result column="client_job" property="client_job"/>
		<result column="client_email" property="client_email"/>
		<result column="client_phone" property="client_phone"/>
		<result column="client_addr" property="client_addr"/>
	</resultMap>

	<!-- 고객정보 상세보기 -->
	<resultMap type="client" id="resultDetailClient">
		<id column="client_no" property="client_no"/>
		<result column="client_name" property="client_name"/>
		<result column="client_company" property="client_company"/>
		<result column="client_job" property="client_job"/>
		<result column="client_email" property="client_email"/>
		<result column="client_phone" property="client_phone"/>
		<result column="client_addr" property="client_addr"/>
		<result column="client_com_tel" property="client_com_tel"/>
		<result column="client_contract" property="client_contract"/>
		<result column="client_comment" property="client_comment"/>
		<result column="emp_no" property="emp_no"/>
		
		<association property="emp" javaType="Emp">
			<id column="emp_no" property="emp_no"/>
			<result column="emp_name" property="emp_name"/>
			<result column="emp_phone" property="emp_phone"/>
		</association>
		
	</resultMap>

	<!-- 거래중인 거래처 목록 상세보기 -->
	<resultMap type="client" id="resultAccountClient">
		<id column="client_no" property="client_no"/>
		<result column="client_name" property="client_name"/>
		<result column="client_company" property="client_company"/>
		<result column="client_job" property="client_job"/>
		<result column="client_email" property="client_email"/>
		<result column="client_phone" property="client_phone"/>
		<result column="client_addr" property="client_addr"/>
		<result column="client_com_tel" property="client_com_tel"/>
		<result column="client_contract" property="client_contract"/>
		<result column="client_comment" property="client_comment"/>
		<result column="emp_no" property="emp_no"/>
		<result column="client_enroll" property="client_enroll"/>
	</resultMap>

	<!-- 첨부파일 리스트 조회  -->
	<resultMap type="clientFile" id="resultClientFileList">
		<id column="client_file_no" property="client_file_no"/>
		<result column="client_no" property="client_no"/>
		<result column="client_original_file" property="client_original_file"/>
		<result column="client_rename_file" property="client_rename_file"/>
	</resultMap>

	<!-- 신규고객 등록 mapping -->
	<insert id="insertClient" parameterType="client">
		<![CDATA[
			insert into client values(
				(select max(client_no)+1 from client), #{client_name}, #{client_company}, #{client_job}, #{client_email},
				#{client_phone}, #{client_addr}, #{client_com_tel}, #{client_loc_x}, #{client_loc_y}, #{client_contract}, #{client_comment},
				#{emp_no}, sysdate, default
			)
		]]>
	</insert>
	
	<!-- 등록된 고객정보 리스트 mapping -->
	<select id="selectAllClient" resultMap="resultSelectAllClient">
		<![CDATA[
			select * from client
			where client_delete <> 'Y'
		]]>	
	</select>
	
	<!-- 등록된 잠재고객 리스트 mapping -->
	<select id="selectPoList" resultMap="resultSelectAllClient">
		<![CDATA[
			select * from client
			where client_contract = 'N'
			and client_delete <> 'Y'
		]]>
	</select>
	
	<!-- 거래중인 거래처 리스트 mapping -->
	<select id="selectAccountClient" resultMap="resultAccountClient">
		<![CDATA[
			select * from client
			where emp_no = #{emp_no} and client_contract = 'Y'
		]]>
	</select>
	
	<!-- 거래처 이름 검색 mapping -->
	<select id="selectSearchAccount" resultMap="resultAccountClient">
		<![CDATA[
			select * from client
			where client_company like '%'||#{client_company}||'%'
		]]>
	</select>
	
	
	<!-- 고객정보 상세보기 mapping -->
	<select id="detailClient" parameterType="_int" resultMap="resultDetailClient">
		<![CDATA[
			select c.client_no, c.client_name, c.client_company, c.emp_no, e.emp_name, c.client_job, c.client_email, e.emp_phone,
			c.client_addr, c.client_phone, c.client_contract, c.client_comment
			from emp e, client c
			where e.emp_no = c.emp_no
			and c.client_no = #{client_no}
		]]>
	</select>
	
	<!-- 고객정보 삭제 mapping -->
	<delete id="deleteClient" parameterType="_int">
		<![CDATA[
			update client
			set client_delete='Y'
			where client_no = #{client_no}
		]]>
	</delete>
	
	<!-- 고객정보 수정 mapping -->
	<!-- 고객정보 관련 -->
	<update id="updateClient" parameterType="client">
		<![CDATA[
			update (select * 
					from client c, emp e 
 					where c.emp_no=e.emp_no and client_no = #{client_no}
			)
			set 
				client_no = #{client_no},
				client_name = #{client_name},
				client_job = #{client_job},
				client_email = #{client_email},
				client_addr = #{client_addr},
				client_phone = #{client_phone},
				client_contract	= #{client_contract},
				client_comment = #{client_comment}	
				
		]]>
	</update>
	
	<!-- 이메일 조회로 특정고객 조회 -->
	<select id="selectClient" parameterType="string" resultMap="resultAccountClient">
		<![CDATA[
			select * from client
			where client_email = #{client_email}
		]]>
	</select>
	
	<!-- 고객 첨부파일 추가 -->
	<insert id="insertClientFile" parameterType="clientFile">
		<![CDATA[
			insert into client_file values(
				(select max(client_file_no)+1 from client_file), #{client_no},
				#{client_original_file}, #{client_rename_file}
			)
		]]>
	</insert>
	
	<!-- 고객 첨부파일 조회 -->
	<select id="selectClientFile" parameterType="_int" resultMap="resultClientFileList">
		<![CDATA[
			select * from client_file
			where client_no = #{client_no}
		]]>
	</select>
	
	<!-- 담당사원 정보관련 -->
	<!-- <update id="updateClientEmp" parameterType="client">
		<![CDATA[
			update (select * 
					from client c, emp e 
 					where c.emp_no=e.emp_no and client_no = #{client_no}
			)
			set 
				emp_name = #{emp.emp_name},
				emp_phone = #{emp.emp_phone}	
				
		]]>
	</update> -->
	
	<!-- 방문일지용 모든 거래처 리스트 mapping -->
	<select id="selectAllAccountClient" resultMap="resultAccountClient">
		<![CDATA[
			select * from client
			where emp_no = #{emp_no}
		]]>
	</select>
</mapper>
