<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dailywork">
	
	<!-- dailywork -->
	<resultMap type="dailywork" id="resultDailywork">
		<id column="dailywork_no" property="dailywork_no"/>
		<result column="client_no" property="client_no"/>
		<result column="client_name" property="client_name"/>
		<result column="emp_no" property="emp_no"/>
		<result column="daily_title" property="daily_title"/>
		<result column="daily_comment" property="daily_commnet"/>
		<result column="daily_date" property="daily_date"/>
		<result column="client_loc_x" property="client_loc_x"/>
		<result column="client_loc_y" property="client_loc_y"/>
	</resultMap>
	
	<select id="selectVisit" parameterType="Dailywork" resultType="dailywork">
		<![CDATA[
			select dw.dailywork_no,dw.client_no,to_char(dw.daily_date,'hh24:mi') as daily_date,
			c.client_company,dw.emp_no,dw.daily_comment,c.client_loc_y,c.client_loc_x
			from dailywork dw,client c where dw.client_no = c.client_no 
			and dw.emp_no = #{emp_no} and to_char(daily_date,'yyyy-mm-dd') like #{daily_date}
			order by daily_date
		]]>		
	</select>
	
	<insert id="dailyworkInsert" parameterType="Dailywork">
		<![CDATA[
			insert into dailywork values(
			(select max(dailywork_no)+1 from dailywork), #{client_no}, #{emp_no}, #{daily_comment}, to_date(#{daily_date},'yyyy-mm-dd hh24:mi:ss'))
		]]>

	</insert>
	
	<!-- 방문이력 -->
	<select id="selectDailyHistory" parameterType="_int" resultType="dailywork">
		<![CDATA[
			select c.client_no, dw.daily_comment, to_char(dw.daily_date, 'YYYY-MM-DD hh24:mi') as daily_date, c.client_company
			from dailywork dw, client c
			where dw.client_no = c.client_no
            and dw.client_no = #{client_no}
		]]>
	</select>


</mapper>
			