<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dailywork">

	
<!-- dailywork -->
	<resultMap type="dailywork" id="resultDailywork">
		<id column="dailywork_no" property="dailywork_no"/>
		<result column="client_no" property="client_no"/>
		<result column="emp_no" property="emp_no"/>
		<result column="daily_title" property="daily_title"/>
		<result column="daily_comment" property="daily_commnet"/>
		<result column="daily_date" property="daily_date"/>
	</resultMap>
	
	<select id="dailyWork" parameterType="dailywork" resultType="dailywork">
		<![CDATA[
			select * form dailywork
			where emp_no = #{emp_no}
		]]>
		
	</select>
	
	<insert id="dailyworkInsert" parameterType="Dailywork">
		<![CDATA[
			
		]]>
		
	</insert>
	
	


</mapper>
