<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">

	<!-- 로그인관련 mapping -->
	<select id="loginEmp" parameterType="emp" resultType="emp">
		<![CDATA[
			select * from emp 
			where emp_no = #{emp_no}
		]]>
	</select>
	
	<resultMap type="Emp" id="resultEmp">
		<id column="emp_no" property="emp_no" />
		<result column="emp_pwd" property="emp_pwd" />
		<result column="emp_name" property="emp_name" />
		<result column="emp_addr" property="emp_addr" />
		<result column="emp_phone" property="emp_phone" />
		<result column="job_no" property="job_no" />
		<result column="emp_email" property="emp_email" />
		<result column="emp_mgr" property="emp_mgr" />
		<result column="emp_hiredate" property="emp_hiredate" />
		<result column="emp_firedate" property="emp_firedate" />
		<result column="city" property="city" />
		<result column="county" property="county" />
		<result column="village" property="village" />
		<result column="dept_no" property="dept_no" />
		<result column="emp_delete" property="emp_delete" />
	</resultMap>
	
	<resultMap type="Emp" id="resultEmpList">
		<result column="emp_no" property="emp_no" />
		<result column="emp_pwd" property="emp_pwd" />
		<result column="emp_name" property="emp_name" />
		<result column="emp_addr" property="emp_addr" />
		<result column="emp_phone" property="emp_phone" />
		<result column="job_no" property="job_no" />
		<result column="emp_email" property="emp_email" />
		<result column="emp_mgr" property="emp_mgr" />
		<result column="emp_hiredate" property="emp_hiredate" />
		<result column="emp_firedate" property="emp_firedate" />
		<result column="city" property="city" />
		<result column="county" property="county" />
		<result column="village" property="village" />
		<result column="dept_no" property="dept_no" />
		<result column="emp_delete" property="emp_delete" />
		<result column="dept_name" property="dept_name" />
	</resultMap>
	
	<!-- 사원 전체 조회 -->
	<select id="empList" resultMap="resultEmpList">
	<![CDATA[
		select * from emp where emp_delete='N'
	]]>
	</select>
	
	<!-- 사원 조회 -->
	<select id="detailEmp" parameterType="int" resultMap="resultEmp">
	<![CDATA[
		select * from emp where emp_no=#{emp_no} and emp_delete='N'
	]]>
	</select>
	
	<!-- 사원 등록 -->
	<insert id="empInsert" parameterType="Emp">
	<![CDATA[
		insert into emp
		values ((select max(emp_no)+1 from emp), #{emp_pwd}, #{emp_name}, #{emp_addr}, 
		#{emp_phone}, #{job_no}, #{emp_email}, #{emp_mgr}, default, 
		null, #{city}, #{county}, #{village}, #{dept_no}, default)
	]]>
	</insert>
	
	<!-- 사원 정보 수정 -->
	<update id="empUpdate" parameterType="Emp">
	<![CDATA[
		update emp set emp_pwd=#{emp_pwd}, emp_name=#{emp_name}, emp_addr=#{emp_addr},
		emp_phone=#{emp_phone}, job_no=#{job_no}, emp_email=#{emp_email}, emp_mgr=#{emp_mgr}
		,emp_hiredate=#{emp_hiredate}, city=#{city}, county=#{county}, village=#{village},
		dept_no=#{dept_no} where emp_no=#{emp_no}
	]]>
	</update>
	
	<!-- 사원 삭제여부 수정 -->
	<update id="updateEmpDelete" parameterType="Emp">
	<![CDATA[
		update emp set emp_delete='Y' where emp_no=#{emp_no}
	]]>
	</update>
	
	<!-- 연락처 중복검사 -->
	<select id="selectCheckPhone" parameterType="emp" resultMap="resultEmpList">	
	<![CDATA[
		select * from emp where emp_phone = #{emp_phone}
	]]>	
	</select>
	
	<!-- 이메일 중복검사 -->
	<select id="selectCheckEmail" parameterType="String" resultMap="resultEmpList">
	<![CDATA[
		select * from emp where emp_email = #{emp_email}
	]]>
	</select>
	
	<!-- 부서별 사원 조회 -->
	<select id="selectDeptEmp" resultMap="resultEmpList">	
		select e.emp_no,e.emp_name,e.dept_no,d.dept_name,e.job_no from emp e,dept d 
		where e.dept_no = d.dept_no and e.emp_no not in #{emp_no}
		<if test="job_no != 3">
	   		AND e.dept_no = #{dept_no}
	    </if>	
	</select>
	
	<!-- 상사이름 조회 -->
	<select id="selectMgrNo" parameterType="int" resultMap="resultEmp">
	<![CDATA[
		select * from emp where emp_no=#{emp_no} and emp_delete='N'
	]]>
	</select>
	
	<!-- 연락처 중복검사 -->
	<select id="selectCheckEmpNo" parameterType="emp" resultMap="resultEmpList">	
	<![CDATA[
		select * from emp where emp_no = #{emp_no}
	]]>	
	</select> 

	<select id="selectMyInfo" parameterType="emp" resultType="emp">
	<![CDATA[
	select e.emp_name,e.emp_addr,e.emp_phone,j.job_name,e.emp_email,
	t.emp_name as mgr_name,e.city,e.county,e.village,d.dept_name from emp e,job j,dept d,
	]]>

 	<if test="job_no==1">
	(select emp_name from emp where emp_no=(select emp_mgr from emp where emp_no=#{emp_no})) t
	where e.emp_no=#{emp_no} and e.job_no=j.job_no and d.dept_no=e.dept_no
 	</if>
 	<if test="job_no==2">
 	<!-- (select emp_name from emp where job_no=3) t
	where e.emp_no=#{emp_no} and e.job_no=j.job_no and d.dept_no=e.dept_no -->
	(select emp_name from emp where emp_no=(select emp_mgr from emp where emp_no=3)) t
	where e.emp_no=3 and e.job_no=j.job_no and d.dept_no=e.dept_no
	</if> 
	<if test="job_no==3">
	(select emp_name,emp_no,dept_no from emp where job_no=3) t
	where e.emp_no=t.emp_no and t.emp_no=#{emp_no} and e.job_no=j.job_no and d.dept_no=e.dept_no and d.dept_no=t.dept_no
 	</if>
 	</select>
	
	<select id="selectEmail" parameterType="emp" resultType="emp">
	<![CDATA[
	select emp_email from emp where emp_email=#{emp_email} and emp_no !=#{emp_no}
	]]>
	
	</select>
	
	<select id="selectPhonedupl" parameterType="emp" resultType="emp">
	<![CDATA[
	select emp_phone from emp where emp_phone=#{emp_phone} and emp_no !=#{emp_no}
	]]>
	</select>
	
	<update id="updateMyInfo" parameterType="emp">
	<![CDATA[
	update emp set emp_phone=#{emp_phone},emp_email=#{emp_email} where emp_no=#{emp_no}
	]]>
	</update>
	<update id="updatePassword" parameterType="emp">
	 <![CDATA[
	 update emp set emp_pwd=#{emp_pwd} where emp_no=#{emp_no}
	 ]]>
	</update>
	
	<!-- 사원목록 갯수 -->
	<select id="selectListCount" parameterType="int" resultType="emp">
	<![CDATA[
	select count(*) as listCount from emp where emp_delete='N'
	]]>
	</select>
	
	<!-- 사원목록 페이징 -->
	<select id="empListPage" resultMap="resultEmpList" parameterType="emp">
	<![CDATA[
	select * from(select rownum rnum, A.* from(select * from emp where emp_delete='N' order by emp_no desc) A ) where rnum between #{startPage} and #{endPage}
	]]>
	</select>
	
	<!-- 상사번호 목록 -->
	<select id="mgrList" resultMap="resultEmpList" parameterType="emp">
	<![CDATA[
	select * from emp where emp_delete='N' and job_no = #{job_no} order by emp_no asc
	]]>
	</select>
	
	<!-- 사원목록 검색 -->
	<select id="empSearch" resultMap="resultEmpList" parameterType="emp">
	<![CDATA[
	select * from(select rownum rnum, A.* from(select * from emp where emp_name like '%'||#{emp_name}||'%' and emp_delete='N' order by emp_no desc) A ) where rnum between #{startPage} and #{endPage}
	]]>
	</select>
	
	<!-- 사원목록 갯수 -->
	<select id="selectSearchCount" parameterType="emp" resultType="emp">
	<![CDATA[
	select count(*) as listCount from emp where emp_name like '%'||#{emp_name}||'%' and emp_delete='N'
	]]>
	</select>
</mapper>
