<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Message"> 


<select id="selectEmp" parameterType="string" resultType="Message">

<![CDATA[
select e.emp_name,d.dept_name,j.job_name,e.emp_email,e.emp_no from emp e,
dept d,job j where e.emp_name=#{emp_name} and e.dept_no=d.dept_no and j.job_no=e.job_no 
]]>
</select>

<insert id="insertMessage" parameterType="message" flushCache="true">
<![CDATA[
insert into message values((select max(message_no)+1 from message),
#{message_from_no},#{message_to_no},#{message_title},#{message_content},to_date(#{message_date},'yyyy-mm-dd hh24:mi:ss'),default)

]]>

</insert>

<select id="selectReceiveMessage" parameterType="message" resultType="Message">
 <![CDATA[
select emp_name,message_from_no,message_title,message_content,to_char(message_date,'yyyy-mm-dd hh24:mi:ss') as message_date from message m,emp e where m.message_to_no=#{message_to_no}  
and e.emp_no=m.message_from_no
]]> 


</select>

<select id="selectSendMessage" parameterType="message" resultType="Message">
 <![CDATA[
select emp_name,message_to_no,message_title,message_content,to_char(message_date,'yyyy-mm-dd hh24:mi:ss') as message_date from message m,emp e where m.message_from_no=#{message_from_no}  
and e.emp_no=m.message_to_no
]]> 


</select>


</mapper>