<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order" >


	<resultMap type="order" id="resultOrderlist">
		<id column="orderlist_no" property="orderlist_no"/>
		<result column="order_no" property="order_no"/>
		<result column="emp_no" property="emp_no"/>
		<result column="client_no" property="client_no"/>
		<result column="product_no" property="product_no"/>
		<result column="order_amount" property="order_amount"/>
		<result column="order_price" property="order_price"/>
		<result column="order_date" property="order_date"/>
		<result column="client_company" property="client_company"/>
		<result column="total" property="total"/>					
	</resultMap>
	
	
	<resultMap type="order" id="resultOrderlist2">
			<result column="order_no" property="order_no"/>
			<result column="emp_no" property="emp_no"/>
			<result column="emp_name" property="emp_name"/>
			<result column="client_no" property="client_no"/>
			<result column="client_phone" property="client_phone"/>
			<result column="client_addr" property="client_addr"/>
			<result column="client_comment" property="client_comment"/>
			<result column="product_no" property="product_no"/>
			<result column="product_name" property="product_name"/>
			<result column="order_amount" property="order_amount"/>
			<result column="order_price" property="order_price"/>
			<result column="order_date" property="order_date"/>
			<result column="client_company" property="client_company"/>
			<result column="total" property="total"/>
			<result column="order_list_count" property="order_list_count"/>
		
	
			
		</resultMap>
		
		
   <insert id="insertOrderList" parameterType="order">   
      <![CDATA[
          insert into orderlist values((select max(orderlist_no)+1 from orderlist),#{order_no}, #{emp_no},#{client_no},
          #{product_no},#{order_amount},#{order_price},sysdate)
        ]]>
   </insert>
   

   <select id="selectOrderMaxNo" resultType="_int">
	   <![CDATA[
	      select max(order_no)+1 from orderlist
	   ]]>
   </select>
   
   <select id="selectOrderlist" parameterType="order"  resultMap="resultOrderlist">
	   <![CDATA[
	      select ol.order_no,ol.emp_no,ol.client_no,c.client_company,sum(ol.order_price*ol.order_amount) as total 
			from orderlist ol,client c where ol.CLIENT_NO=c.client_no 
			and ol.emp_no = #{emp_no} and to_char(ol.order_date,'yyyy-mm-dd') like #{order_date}
			group by ol.order_no,c.client_company,ol.client_no,ol.emp_no order by order_no
	   ]]>
   </select>

   <select id="selectOrderList2" resultMap="resultOrderlist2" parameterType="_int">
   		<![CDATA[
 			select * from orderlist ol, product p 
			where ol.order_no = #{order_no} and ol.product_no = p.product_no   			
   		]]>	  	
   </select>
   
    <select id="selectOrderListPage"  resultMap="resultOrderlist">
	   <![CDATA[
	      select ol.order_no,ol.emp_no,ol.order_date,ol.client_no,c.client_company,sum((ol.order_price*ol.order_amount)) as total 
	      from orderlist ol,client c where ol.CLIENT_NO=c.client_no 
	      and ol.emp_no = #{emp_no} and substr(to_char(ol.order_date,'yyyy-mm-dd'),1,10) like substr(#{order_date} ,1,10)
	      group by c.client_company,ol.order_no,ol.client_no,ol.emp_no,ol.order_date order by order_date
	   ]]>
   </select>
   
   <!-- 
		select ol.order_no, c.client_company,sum((ol.order_price*ol.order_amount)) as total, substr(to_char(order_date),1,8) as order_date 
		from orderlist ol, client c 
		where ol.client_no = c.client_no group by ol.order_no, c.client_company, order_date order by order_no desc
 -->
 
 <!-- select ol.order_no, c.client_company,sum((ol.order_price*ol.order_amount)) as total, substr(to_char(order_date),1,8) as order_date 
		from (select rownum as rn, A.* from (select * from orderlist ol, client c 
		where ol.client_no = c.client_no group by ol.order_no, c.client_company, order_date order by order_no desc) A) 
		where rn between #{startPage} and #{endPage} 
		 -->
   
   <select id="selectAllOrderList" resultMap="resultOrderlist2" parameterType="order">
   	<if test="searchCom==null">
   	<![CDATA[
	 	select * from (select rownum as rn, A.* 
		from (select ol.order_no,ol.emp_no,ol.client_no,c.client_company,sum(ol.order_price*ol.order_amount) as total,
		substr(to_char(ol.order_date,'yyyy-mm-dd'),1,10) as order_date
		from orderlist ol,client c 
		where ol.CLIENT_NO=c.client_no  
		group by ol.order_no,c.client_company,ol.client_no,ol.emp_no, substr(to_char(ol.order_date,'yyyy-mm-dd'),1,10) order by order_no desc) A ) 
		where rn between #{startPage} and #{endPage}
   		
   	]]>
   	</if>
   	<if test="searchCom!=null">
   	<![CDATA[
   		select * from (select rownum as rn, A.* 
			from (select ol.order_no, c.client_company,sum((ol.order_price*ol.order_amount)) as total, substr(to_char(order_date,'yyyy-mm-dd'),1,10) as order_date 
			from orderlist ol, client c 
			where ol.client_no = c.client_no and c.client_company like '%'||#{searchCom}||'%' group by ol.order_no, c.client_company, substr(to_char(order_date,'yyyy-mm-dd'),1,10) order by order_no desc) A ) 
			where rn between #{startPage} and #{endPage}
   	
   	]]>
   	
   	
   	
   	</if>
   </select>
   
   <select id="orderListCount" resultType="_int" parameterType="order">
  
   <if test="searchCom==null">
	   <![CDATA[
	   		select count(*) as orderlistcount from (select ol.order_no, c.client_company,sum((ol.order_price*ol.order_amount)) as total, substr(to_char(order_date),1,8) as order_date from orderlist ol, client c 
			where ol.client_no = c.client_no group by ol.order_no, c.client_company, order_date order by order_no desc)
	   ]]>
	</if>
  
   <if test="searchCom!=null">
	    <![CDATA[
		 	select count(*) as orderlistcount from (select ol.order_no, c.client_company,sum((ol.order_price*ol.order_amount)) as total, substr(to_char(order_date),1,8) as order_date from orderlist ol, client c 
			where ol.client_no = c.client_no and c.client_company like '%'||#{searchCom}||'%' group by ol.order_no, c.client_company, order_date order by order_no desc)
		 
		 ]]>
   </if>
  
   
   </select>

	<select id="productShare" resultMap="resultOrderlist2">
	 <![CDATA[
		select * from (select rownum rnum, product_no,product_name,total from(select ol.product_no,p.product_name,sum(ol.order_amount) as total 
		from orderlist ol,product p where ol.product_no=p.product_no and 
		to_char(ol.order_date,'yyyy-mm') like to_char(sysdate,'yyyy-mm') 
		group by p.product_name,ol.product_no order by total desc)) where rnum >=1 and rnum<=5
	 ]]>
	</select>
	
	<select id="selectOrderSum" resultType="_int" parameterType="emp">
	<if test="job_no == 1">
	<![CDATA[
		select sum(order_amount*order_price) as order_sum from orderlist 
		where substr(to_char(order_date),1,6) = substr(sysdate,1,6) and emp_no = #{emp_no}
	]]>
	</if>
	<if test="job_no != 1">
	<![CDATA[
		select sum(order_amount*order_price) as order_sum from orderlist 
		where substr(to_char(order_date),1,6) = substr(sysdate,1,6)
	]]>
	</if>
	
	</select>
	
	<select id="selectOrderAvg" resultType="_int" parameterType="emp">
	<if test="job_no ==1">
	
	<![CDATA[
		select distinct(((select sum(order_amount*order_price) as order_sum from orderlist 
		where substr(to_char(order_date),1,6) = substr(sysdate,1,6) and emp_no = #{emp_no})/(select count(distinct order_no) from orderlist))) as avg from orderlist		
	]]>
	</if>
	<if test="job_no !=1">
	
	<![CDATA[
		select distinct(((select sum(order_amount*order_price) as order_sum from orderlist 
		where substr(to_char(order_date),1,6) = substr(sysdate,1,6))/(select count(distinct order_no) from orderlist))) as avg from orderlist		
	]]>
	</if>
	
	
	
	</select>
	
	<select id="selectGoalState" resultType="string" parameterType="emp">
	<if test="job_no ==1">
	<![CDATA[
		select distinct(ROUND(((select sum(order_amount*order_price) as order_sum from orderlist 
		where substr(to_char(order_date),1,6) = substr(sysdate,1,6) and emp_no =#{emp_no})/
		(select goal_money from goal where substr(to_char(goal_date),1,6) = substr(sysdate,1,6) and emp_no = #{emp_no})*100),2)) as goalstate 

		from orderlist
	]]>
	</if>
	<if test="job_no !=1">
	<![CDATA[
		select distinct(round(((select sum(order_amount*order_price) as order_sum from orderlist 
		where substr(to_char(order_date),1,6) = substr(sysdate,1,6))/(select SUM(goal_money) 
		from goal where substr(to_char(goal_date),1,6) = substr(sysdate,1,6))*100),2)) as goalstate 
		from orderlist
  
	]]>
	</if>
	
	
	</select>


</mapper>