<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">

	<!-- 상품 리스트 -->
	<resultMap type="product" id="resultSelectAllProduct">
		<id column="product_no" property="product_no"/>
		<result column="product_name" property="product_name"/>
		<result column="product_price" property="product_price"/>
		<result column="product_availability" property="product_availability"/>
		<result column="product_amount" property="product_amount"/>
		<result column="product_comment" property="product_comment"/>
		<result column="product_register" property="product_register"/>
		<result column="product_delete" property="product_delete"/>
	</resultMap>
	
	
	<resultMap type="product" id="selectAllProductList">
		<result column="product_no" property="product_no"/>
		<result column="product_name" property="product_name"/>
		<result column="product_price" property="product_price"/>
		<result column="product_availability" property="product_availability"/>
	</resultMap>
	
	<resultMap type="ProductFile" id="productFile">
		<result column="product_file_no" property="product_file_no"/>
		<result column="product_no" property="product_no"/>
		<result column="product_original_file" property="product_original_file"/>
		<result column="product_rename_file" property="product_rename_file"/>
	</resultMap>
	
	<insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="product_no">
		<selectKey keyProperty="product_no" resultType="int" order="BEFORE">
			select max(product_no)+1 from product
		</selectKey>
		<![CDATA[
		     insert into product values(${product_no},#{product_name},#{product_price},#{product_availability},#{product_amount},
		     #{product_comment},sysdate,default)
	     ]]>
	</insert>
	
	<insert id="insertProductFile" parameterType="ProductFile">
		<selectKey keyProperty="product_file_no" resultType="int" order="BEFORE">
			select max(product_file_no)+1 from product_file
		</selectKey>		
		<![CDATA[
		     insert into product_file values(#{product_file_no},#{product_no},#{product_original_file},#{product_rename_file})
	     ]]>
	</insert>
	
	<select id="productList" resultType="arraylist" resultMap="selectAllProductList">
		<![CDATA[
		select product_no, product_name, product_price, product_availability from product where product_delete = 'N'
		]]>
	</select>

	<!-- 상품검색 mapping  -->
	<select id="selectSearchProduct" resultMap="resultSelectAllProduct">
		<![CDATA[
			select * from product
			where product_name like '%'||#{product_name}||'%' and product_delete ='N' and product_availability ='Y'
		]]>
		
	</select>
	
	<!-- <select id="orderProduct" resultMap="resultSelectAllProduct">
		<![CDATA[
			select product_no, product_name, product_price, product_amount, contract_discount from product, contract 
			where contract.client_no = #{client_no} and product.product_no = #{product_no}
		]]>
	</select> -->
	
	<select id="productDetail" resultType="Product" resultMap="resultSelectAllProduct">
		<![CDATA[
			select * from product where product_no = #{product_no}
		]]>
	</select>
	
	<update id="updateProductAmount" parameterType="order">
		<![CDATA[
			update product set product_amount = (product_amount - #{order_amount}) where product_no = #{product_no}
		]]>
		
	</update>

	<update id="updateProduct" parameterType="product">
		<![CDATA[
			update product set product_name = #{product_name},product_price=#{product_price},product_availability=#{product_availability},
			product_amount=#{product_amount},product_comment=#{product_comment} where product_no = #{product_no}
		]]>		
	</update>

	<update id="deleteProduct" parameterType="product">
		<![CDATA[
			update product set product_delete = 'Y' where product_no = #{product_no}
		]]>		
	</update>
	
	<!-- 파일 이름 값 가지고오는 메소드 권성훈 -->
	<select id="productDetailFile" parameterType="product" resultMap="productFile">
		<![CDATA[
		select * from PRODUCT_FILE
		where PRODUCT_NO=#{product_no}
		]]>
	</select>
	

	<select id="productListA" parameterType="int" resultType="int">
	<![CDATA[
		select count(*) from PRODUCT where product_delete = 'N'
		]]>
	</select>
	
	<select id="productListC" parameterType="product" resultType="product">
	<![CDATA[
	select * from
		(select rownum rnum, xx.*
		  from (select ex.* from( select product_no, product_name, product_price, PRODUCT_AVAILABILITY from product p where product_delete = 'N' order by product_no desc) ex) xx)
	where rnum >= #{startRow} and rnum <= #{endRow}
		 
	]]>
	</select>
	
	<select id="productSearch2" parameterType="product" resultType="product">
	<![CDATA[
		select product_no, product_name from product where product_delete = 'N'
	
	]]>
	
	</select>
	
	<delete id="deleteFile" parameterType="ProductFile">
	<![CDATA[
		delete from product_file where product_rename_file = #{product_rename_file}	
	]]>
	
	</delete>

</mapper>
